"*":
  "atom-beautify":
    general:
      _analyticsUserId: "b1ec2602-c90d-435c-b63c-a129ad688702"
    js:
      space_after_anon_function: true
    json:
      indent_size: 2
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "json-schema"
      "seti-icons"
      "file-icons"
      "vim-mode-visual-block"
      "hidpi"
      "omnisharp-atom"
    ]
    telemetryConsent: "limited"
    themes: [
      "solarized-seti-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "5e0d2790-79c0-db62-319a-a88761a7ce1f"
  linter:
    lintOnChange: false
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  "terminal-panel": {}
  "tree-view": {}
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
".plain.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
